---
import "../styles/global.css";

// Layout.astro
const { title = "Alf S.A", description = "Soluciones integrales de seguridad y salud ocupacional en Ecuador." } = Astro.props;
---
<!DOCTYPE html>
<html lang="es">
  <head> 
  
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/png" href="/logo1.webp" />
    
    <title>{title}</title>
    <meta name="description" content={description} />

    <!-- Open Graph para Redes Sociales -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="https://ecommerce.alfseguridadysalud.com/logo-1.png" />
    <meta property="og:url" content="https://ecommerce.alfseguridadysalud.com" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    <meta name="twitter:image" content="https://ecommerce.alfseguridadysalud.com/logo-1.png" />

  </head>
  <meta name="google-site-verification" content="RJHVGZ75IO8Fgb9d95IN3dbXcG6YtMTP6XvYLP-guVg" />
  <body class="flex flex-col min-h-screen">
    
    <main class="flex-grow">
      <slot />
    </main>
  </body>
</html>


<style >
  


</style>
